language: php

php:
  - '5.3'
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'

node_js:
  - '7'

matrix:
  include:
    - php: hhvm
      dist: trusty
      sudo: required

before_script:
  - sudo npm cache clean -f
  - sudo npm install -g n
  - sudo n stable
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - vendor/bin/phpunit --verbose --coverage-text --coverage-clover=coverage.xml

after_script:
  - vendor/bin/test-reporter --coverage-report coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)

addons:
  code_climate:
    repo_token: 06b079e57ae87f3c0d08c6cc73fbdf0a0204efa5325947ab6e8bcb30d7fcbb69
