language: php

dist: trusty

sudo: required

matrix:
  include:
    - php: nightly
    - php: 7.4
    - php: 7.3
  allow_failures:
    - php: nightly

env:
  global:
    - COMPOSER_FLAGS=''
    - TRAVIS_NODE_VERSION="7"

install:
  - if [[ $TRAVIS_PHP_VERSION =~ ^nightly ]]; then COMPOSER_FLAGS='--ignore-platform-reqs'; fi
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
  - npm install

before_script:
  - travis_retry composer self-update
  - COMPOSER_MEMORY_LIMIT=-1 travis_retry composer install ${COMPOSER_FLAGS} --no-interaction --prefer-source

script:
  - vendor/bin/phpunit --verbose --coverage-text --coverage-clover=coverage.xml

after_script:
  - vendor/bin/test-reporter --coverage-report coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)

addons:
  code_climate:
    repo_token: 06b079e57ae87f3c0d08c6cc73fbdf0a0204efa5325947ab6e8bcb30d7fcbb69
