<phpunit
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="Features">
            <file>tests/NodejsPhpFallbackTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
